*,
::before,
::after{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color:transparent;/*清除点击默认的高亮效果*/
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
body{font-size:14px;font-family:"Microsoft YaHei",sans-serif;color:#333;position: relative;}
a{text-decoration:none;color:#333;}
ul,li,ol{list-style:none;cursor:pointer;}
a{cursor:pointer;}
i{font-style:normal;}
input,textarea{
    resize:none;
    outline:none;/*清除选中效果*/
}
select{outline:none;}
img{
    vertical-align: middle;
    border: 0;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content:".";
    display:block;
    height:0;
    line-height:0;
    visibility: hidden;
    clear:both;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.m_l10{margin-left:10px;}
.m_r10{margin-right:10px;}
.m_t10{margin-top:10px;}
.m_b10{margin-bottom:10px;}
.f_left{float:left;}
.f_right{float:right;}
.boder_rad5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.boder_rad10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;}
/*多字对齐*/
.alignment{width:90px;float:left;display:block;text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;-moz-text-align-last:justify;-webkit-text-align-last:justify;}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .alignment:after{content:".";display: inline-block;width:100%;overflow:hidden;height:0;float:left;}
}



